{
    "extends": [
        "@tada5hi/eslint-config-typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.eslint.json"
    },
    "ignorePatterns": [
        "**/dist/*",
        "**/*.d.ts",
        "**/node_modules/**",
        "**/writable/**"
    ],
    "globals": {
        "NodeJS": true
    }
}
